<div *ngIf="hero">
  <h1>{{ hero.name | uppercase }} Details</h1>

  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput disabled [value]="hero.id" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hero name</mat-label>
        <input
          id="name"
          matInput
          [(ngModel)]="hero.name"
          placeholder="Name"
          type="text"
        />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Go back</button>
    </mat-card-actions>
  </mat-card>
</div>
