<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <span fxFlex></span>

  <button
    mat-icon-button
    aria-label="Dashboard"
    matTooltip="Dashboard"
    routerLink="/dashboard"
  >
    <mat-icon>dashboard</mat-icon>
  </button>

  <button
    mat-icon-button
    aria-label="Heroes list"
    matTooltip="Heroes"
    routerLink="/heroes"
  >
    <mat-icon>sports_martial_arts</mat-icon>
  </button>
</mat-toolbar>

<div class="content" fxLayoutGap="12px">
  <router-outlet></router-outlet>

  <app-messages></app-messages>
</div>
