.add-button {
  position: absolute;
  right: 20px;
  top: 80px;
}

.mat-row:hover {
  cursor: pointer;
  background: whitesmoke;
}

.mat-column-id {
  max-width: 60px;
}

.mat-column-actions {
  border-left: 1px solid currentColor;
  max-width: 60px;
  padding-left: 16px;
}
