<h2>My Heroes</h2>

<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span>{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div><span>name: </span>{{ selectedHero.name }}</div>

  <div>
    <label for="name">Hero name:</label>
    <input
      id="name"
      [(ngModel)]="selectedHero.name"
      placeholder="name"
      type="text"
    />
  </div>
</div>
